/* DashboardAdmin.css */
.dashboard {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
  
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px; /* Hauteur de l'en-tête */
    z-index: 1000;
  }
  
  .menu {
    position: fixed;
    top: 60px; /* Hauteur de l'en-tête */
    left: 0;
    width: 250px; /* Largeur du menu */
    height: calc(100vh - 90px); /* Hauteur totale moins la hauteur de l'en-tête */
    background-color: #343a40; /* Couleur de fond du menu */
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s ease;
    z-index: 1000; /* Assurez-vous que le menu est au-dessus du contenu principal */
  }
  
  .menu-open {
    transform: translateX(0);
  }
  
  .menu-closed {
    transform: translateX(-100%);
  }
  
  .content {
    margin-top: 90px; /* Hauteur de l'en-tête */
    margin-left: 250px; /* Largeur du menu lorsqu'il est ouvert */
    transition: margin-left 0.3s ease;
    flex-grow: 1; /* Pour prendre tout l'espace restant */
    padding: 20px;
    position: relative; /* Pour utiliser les animations de contenu */
  }
  
  .content-expanded {
    margin-left: 250px; /* Largeur du menu lorsqu'il est ouvert */
  }
  
  .content-collapsed {
    margin-left: 0; /* Pas de marge pour le menu replié */
  }
  .z_index_1001{
    z-index: 1001;
  }
/* Dasbord.css */

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-enter {
  animation: slideIn 0.2s forwards;
}

.slide-exit {
  animation: slideOut 0.5s forwards;
}

.bg-clair{
  background-color: #2C3E50;
}